<!DOCTYPE html>
<html>
<head>
	<title>Employee Home Page</title>
</head>
<body>
	<center>
		<div>
			<h1>Welcome "<%= user.username%>"</h1> 		
		</div>
		<a href="/home2/allcontent"> View Content Details</a> |
		<a href="/home2/contentadd">Content Add</a> |
		<a href="/home2/moderatorprofile">Profile View</a> |
		<a href="/logout">Logout</a><br>
	</center>
</body>
</html>