<!DOCTYPE html>
<html>
<head>
	<title>Employee Home Page</title>
</head>
<body>
	<center>
		<div>
			<h1>Welcome Moderator Dashboard</h1><br>
			<h3>Username ==> "<%= user.username%>"</h3> 	 		
		</div>
		<a href="/home2/allcontent"><b>View Content Details</b></a> |
		<a href="/home2/contentadd"><b>Content Add</b></a> |
		<a href="/home2/moderatorprofile"><b>Profile View</b></a> <br><br>
		<a href="/logout"><b>Logout</b></a>
	</center>
</body>
</html>