<!DOCTYPE html>
<html>
<head>
	<title>Admin Home Page</title>
</head>
<body>
	<center>
		<div>
			<h1>Welcome "<%= user.username%>"</h1> 		
		</div>

		<a href="/home/alluser"> View User Details</a> |
		<a href="/home/add">Add Moderator</a> |
		<a href="/home/adminprofile">Profile View</a> |
		<a href="/logout"> Logout</a><br>
	</center>
</body>
</html>